@media only screen AND (max-width: 1170px)
{
    nav#nav.container
    {
        margin: 0 15px;
    }
    .box2>div
    {
        width: calc(90% / 3);
    }
}

@media only screen AND (max-width: 992px)
{
    .box2>div
    {
        width: calc(90% / 2);
    } 
    .box1>div
    {
        display: block;
    }
    .box1>div>div
    {
        width: 100%;
    }
    div#main.cat .rigth-cat
    {
        display: none;
    }
    div#main.cat
    {
        grid-template-columns: 4fr 2fr;
    }

    #Contact .contact_row
    {
        flex-direction: column-reverse;
    }
}

@media only screen AND (max-width: 768px)
{
   .menu
   {
       display: none;
       position: absolute;
       top: 65px;
       left: 0;
       width: 100%;
       background-color: #fff;
       z-index: 9;
   }
   nav.active .menu
   {
       display: block;
   }
   body.darkskin .menu
   {
       background-color: #333;
       color: #fff;
   }
   nav.active .menu ul
   {
       display: block;
   }
   body.darkskin nav.active .menu>ul>li
   {
       border-bottom: 1px solid #444545;
   }
   nav.active .menu>ul>li{
    border-bottom: 1px solid #EEEEEE;
}
   #nav .menuIcon
   {
       display: block;
       cursor: pointer;
   }
   .menuIcon .menuopen div
   {
       width: 30px;
       height: 3px;
       margin: 6px;
       background-color: #333;
       transition: all .4s ease;
   }
   nav.active .menuIcon .menuopen div:nth-child(2)
   {
       display: none;
   }
   nav.active .menuIcon .menuopen div:nth-child(1)
   {
       transform: rotate(45deg);
   }
   nav.active .menuIcon .menuopen div:nth-child(3)
   {
       transform: rotate(-45deg);
   }
   .dark-mode-btn
   {
       display: none;
   }
   .box2>div
   {
    width: 70%;
    }
    .box1 .snav ul li
    {
        margin: 10px 5px;
    }
    .box1>div>div h2
    {
        margin: 5px 7px;
        line-height: 50px;
        font-size: calc(1.475rem + 2.2vw);
    }
    div#main.cat
    {
        grid-template-columns: 1fr;
    }
    .cath2
    {
        font-size: 25px;
    }
}

@media only screen AND (max-width: 576px)
{
    nav#nav.container
    {
        margin: 0;
    }
    .lang h2
    {
        font-size: 30px;
    }
    .box2>div
    {
        width: 80%;
    }
    .box1>div>div h2
    {
        margin: 5px 7px;
        line-height: 45px;
        font-size: calc(1.475rem + 1.2vw);
        text-align: center;
    }
    .card
    {
        display: block;
    }
    .card>div:first-child
    {
        padding: 10px 5px;
        width: 100%;
    }
    .card>div:last-child
    {
        border: none;
        width: 100%;
        padding: 7px;
    }

    div#Skills .technology
    {
        gap: 20px !important;
    }
}

@media only screen AND (min-width: 992px)
{
    .lang h2
    {
        font-family: cursive, sans-serif;
    }
}