@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    --gray: #abb8c3;
    --border: #e7ebed;
    --txt: #444;
    --white: #fff;
    --blue: #3490dc;
    --indigo: #6574cd;
    --purple: #9561e2;
    --pink: #f66d9b;
    --red: #e3342f;
    --orange: #f6993f;
    --yellow: #ffed4a;
    --green: #38c172;
    --teal: #4dc0b5;
    --cyan: #6cb2eb;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #3490dc;
    --secondary: #6c757d;
    --success: #38c172;
    --info: #6cb2eb;
    --warning: #ffed4a;
    --danger: #e3342f;
    --light: #f8f9fa;
    --dark: #343a40;
    --footer: #12161d;
    --theme: #05BDFF;
}
h1,h2,h3,h4,h5,h6,p,th,td,div,span,strong,li,a,label
{
    /* font-family: sans-serif; */
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
}
p, li
{
    line-height: 30px;
}
body
{
    background-color: var(--light);
}
/* Nav */
header
{
    border-bottom: 1px solid var(--border);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--light);    
}
html
{
    scroll-behavior: smooth;
}
nav#nav.container
{
    max-width: 1170px;
    margin: auto;
}
#nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu
{
    width: 100%;
}
.menu>ul>li>a
{
    text-decoration: none !important;
    color: var(--txt);
    font-weight: 500;
}
.menu>ul>li
{
    list-style: none;
    padding: 15px 20px;
}
.menu>ul
{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.logo img
{
    border-radius: 5px;
}
.menuIcon
{
    display: inline-block;
}
span.menuopen
{
    display: inline-block;
    margin: 0 10px;
}
header
{
    z-index: 999;
    position: sticky;
    top: 0;
}
/* Nav */
/* Darkmode CSS */
.dark-mode-btn
{
    position: fixed;
    top: 30%;
    right: 10px;
    padding: 15px 10px;
    border-radius: 7px;
    z-index: 9999999999;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    text-align: center;
    width: 70px;
}
.dark-mode-btn p
{
    color: var(--gray-dark);
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}
.dark-mode-btn img
{
    width: 30px;
}
#nav .menuIcon
{
    display: none;
}
.dark
{
    background-color: var(--dark);
    padding: 3px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    height: 24px;
}
.dark::before
{
    content: '';
    position: absolute;
    left: 3px;
    top: 2.5px;
    border-radius: 40%;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}
#darkCheck
{
    appearance: none;
    opacity: 0;
    display: none;
}
#darkCheck:checked ~ .dark::before
{
    left: auto;
    right: 4px;
}
#darkCheck:checked ~ .dark
{
    background-color: var(--blue);
}
body.darkskin,body.darkskin header,body.darkskin header li a
{
    background-color: var(--gray-dark);
    color: var(--white);
}
body.darkskin .menuopen div
{
    background-color: var(--white);
}
/* DarkMode */
/*Footer*/
.footerbar
{
    background-color: var(--footer);
    color: var(--white);
    text-align: center;
    padding: 15px 10px;
    line-height: 30px;
}
.footerbar .copyright-text>a
{
    text-decoration: none !important;
    color: var(--white);
}
/*Footer*/

/*Project CSS Started*/
main
{
    margin: auto;
    padding: 5px 10px;
    max-width: 1400px;
}
/*Home*/
div#Home
{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-around;
}
div#Home img.profile
{
    max-height: 76vh;
    border-radius: 7px;
}
div#Home>div:nth-child(1)
{
    text-align: center;
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-width: 350px;
}
div#Home h2
{
    font-size: 25px;
    margin: 5px 0;
}
div#Home .buttons
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
div#Home .buttons>button,
div#Contact button.btn
{
    background-color: #4070f4;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
}
div#Home .buttons i,
div#Contact button.btn i
{
    margin: 0 5px;
}
div#Home .buttons a,
div#Home .buttons i,
div#Contact button.btn
{
    color: #fff;
    text-decoration: none !important;
}
div#About .heading,
div#Skills .heading,
div#Projects .heading,
div#GithubStats .heading,
div#experience .heading,
div#education .heading,
div#Contact .heading
{
    text-align: center;
    font-size: 26px;
    margin: 20px 0;
    text-transform: uppercase;
    color: #fff;
    text-shadow:
          3px 3px 0 #000,
          -3px 3px 0 #000,
          -3px -3px 0 #000,
          3px -3px 0 #000;
    letter-spacing: 7px;
}
div#About
{
    margin-top: 25px;
}
div#About .about_row
{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}
div#About .profileImg>img
{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    border: 2px solid #444;
    border-radius: 50%;
    transition: all .3s ease;
}
div#About .profileImg
{
    min-width: 400px;
    text-align: center;
}
div#About .profileImg>img:hover
{
    box-shadow: none;
    transform: scale(1.1);
}
div#About .introduction p
{
    text-align: justify;
    font-size: 18px;
    line-height: 33px;
}
div#About .introduction
{
    padding: 0 10px;
    max-width: 800px;
}
h2,p,h3
{
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
}
div#Skills .technology
{
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
div#Skills .technology>div
{
    width: 150px;
    height: 150px;
}

div#Skills .technology>div img
{
    width: 100%;
    height: 100%;
}
div#Skills .technology>div
{
    border-radius: 12px;
    background: #fff;
    width: 100px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    height: 100px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 15px;
}
div#Projects
{
    margin-top: 40px;
}
#GithubStats .gitstat_row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
#GithubStats .gitstat_row img
{
    max-width: 100%;
    min-width: 350px;
}
#Contact .contact_row
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
#Contact .contact_row>div
{
    min-width: 350px;
}
#Contact .contact_row>div
{
    flex-basis: 49%;
}
/*Home*/
/*Contact Form CSS*/
#Contact div.contact_form input,
#Contact div.contact_form textarea
{
    width: 100%;
    margin: 5px 0;
    padding: 9px 15px;
    font-size: 15px;
    outline: none;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, .4);
    box-sizing: border-box;
}
#Contact div.contact_form textarea
{
    min-height: 100px;
}
#Contact div.contact_form input::placeholder,
#Contact div.contact_form textarea::placeholder
{
    font-family: cursive;
    opacity: .5;
}
#Contact div.contact_form
{
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    max-width: 550px;
}

#Contact div.contact_form label
{
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
}
#Contact div.contact_form input:hover,
#Contact div.contact_form textarea:hover,
#Contact div.contact_form input:focus,
#Contact div.contact_form textarea:focus
{
    border: 1px dashed rgba(29, 176, 255, .5);

}
body.darkskin #Contact div.contact_form
{
    background: transparent !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, .7);
}
body.darkskin #Contact div.contact_form input,
body.darkskin #Contact div.contact_form textarea
{
    background: transparent !important;
    border: 1px solid rgba(255, 255, 255, .7);
    color: #fff;
}
.red,
#Contact div.contact_form p.error
{
    color: red;
}
#Contact div.contact_form p.error
{
    margin-bottom: 5px;
}
#Contact div.contact_form button[type=submit]
{
    margin-top: 20px;
    cursor: pointer;
}
#Contact .contact_row .contact_form
{
    margin: auto;
}
/*Contact Form CSS*/


/*Project CSS End*/
/*Back to Top CSS Start*/
#back-to-top
{
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: var(--green);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
}
#back-to-top #progress
{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 27px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    background-color: var(--white);
}
/*Back to Top CSS END*/